.calendarDayPopover {
  background: #555;
  color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  min-width: 300px;


  .header {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background: #333333;
    .date {
      font-size: 16px;
      font-weight: bolder;
    }
    .price {
      font-size: 32px;
      color: #53babf;
      font-weight: bolder;
    }
    .blocked {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .body {
    width: 100%;
    padding: 15px 50px;
    background: #272727;
    table {
      width: 100%;
      td {
        padding: 2px;
      }
    }
  }

  .predictedPrice {
    border-top: 1px solid #fff;
    td {
      padding-top: 10px;
    }
  }
}
