$white: #ffffff;
$background-grey: #f5f6f7;
$lighter-grey: #f6f7fb;
$light-grey: #ebebeb;
$medium-grey: #aab2bd;
$dark-grey: #656d78;
$darkest-grey: darken($dark-grey, 20);
$invalid-red: #DB2828;
$beyond-teal: #1faab4;
$transparent-black: rgba(0,0,0,.87);
