$font-large: 20px;
$font-medium: 16px;
$font-regular: 14px;
$font-small: 12px;
$font-xsmall: 10px;

$primary-font-family: helevetica, sans-serif;
$primary-font-family-bold: helevetica, sans-serif;
$primary-font-family-black: helevetica, sans-serif;
