@import './_colors';
@import './_variables';


// TODO: Define/use global font-faces, e.g.:
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./../static/fonts/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('./../static/fonts/SourceSansPro-Bold.otf');
}

* {
  font-family: 'SourceSansPro-Regular';
}

:global {

  div [class*="left"] {
    float: left;
  }

  div [class*="right"] {
    float: right;
  }

  h3 {
    color: $darkest-grey;
    letter-spacing: .5px;
    font-family: 'SourceSansPro-Bold';
    font-size: 14px;
  }

  h5 {
    color: $darkest-grey;
    letter-spacing: .5px;
    font-family: 'SourceSansPro-Bold';
    font-size: 14px;
    margin-bottom: 8px!important;
  }

  h6 {
    color: $darkest-grey;
    font-family: 'SourceSansPro-Bold';
    font-size: 12px;
    margin: 20px 0 10px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    &.with-subheader {
      margin-bottom: 3px;
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  /* Placeholders on textareas */
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c6c6c6;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c6c6c6;
    opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c6c6c6;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c6c6c6;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #c6c6c6;
  }
}
